<tr class="row">
    <th class="col-md-1">@Model.Index</th>
    <td class="col-md-5">@Model.Name</td>
    <td class="col-md-1">@Model.Type</td>
    <td class="col-md-2">@Model.Followers</td>
    <td class="col-md-2">
        <div class="button-holder d-flex justify-content-between">
            <button onclick="location.href='/Channels/Unfollow?Id=@Model.Id'" class="btn bg-mishmash text-white">Unfollow</button>
            <button onclick="location.href='/Channels/Details?Id=@Model.Id'" class="btn bg-mishmash text-white">Details</button>
        </div>
    </td>
</tr>