<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeTube</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-dark bg-color-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand h4" href="/">MeTube&trade;</a>

           <div class="collapse navbar-collapse justify-content-end d-flex" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto justify-content-end row col-md-8">
                    <li class="nav-item active col-md-2">
                        <a class="nav-link h5" href="/">Home</a>
                    </li>
                    <li style="display: @Model.LoggedIn" class="nav-item active col-md-2">
                        <a class="nav-link h5" href="/Users/Profile">Profile</a>
                    </li>
                    <li style="display: @Model.LoggedIn" class="nav-item active col-md-2">
                        <a class="nav-link h5" href="/Tubes/Upload">Upload</a>
                    </li>
                    <li style="display: @Model.NotLoggedIn" class="nav-item active col-md-2">
                        <a class="nav-link h5" href="/Users/Login">Login</a>
                    </li>
                    <li style="display: @Model.NotLoggedIn" class="nav-item active col-md-2">
                        <a class="nav-link h5" href="/Users/Register">Register</a>
                    </li>
                    <li style="display: @Model.LoggedIn" class="nav-item active col-md-2">
                        <a class="nav-link h5" href="/Users/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
        <footer class="footer py-3">
            <div class="container-fluid">
                <div class="container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.</div>
            </div>
        </footer>
    </div>
</body>
</html>